  <% unless @spot.errors.full_messages.nil? %>
    <% @spot.errors.full_messages.each do |msg| %>
      <div class="alert-danger">  ※ <%= msg %> <br> </div>
    <% end %>
  <% end %>

<div class="spot-new">

  <div class="spot-new-form">
    <%= form_with(model: @spot, local: true) do |f| %>
      <div class="form-group row">
        <%= f.label :address, class: "col-sm-2" %>
        <%= f.text_field :address, class: "form col-sm-5", placeholder: "自動入力されます", readonly: true %>
      </div>
      <div class="form-group row">
        <%= f.label :name, class: "col-sm-2" %>
        <%= f.text_field :name, class: "form col-sm-5", placeholder: "(例) 行きつけのカフェ 等" %>
      </div>
      <h5 class="col-sm-2 bold">公開設定</h5><br><br>
      <div class="form-group row private-select">
        <%= f.label "非公開", class: "col-sm-2 h5" %>
        <%= f.radio_button :private, true, class: "radio-btn", checked: true %>
      </div>
      <div class="form-group row private-select">
        <%= f.label "公開", class: "col-sm-2 h5"%>
        <%= f.radio_button :private, false, class: "radio-btn" %>
      </div>
      <%= f.submit yield(:spotbtn), class: "btn btn-primary col-sm-6 mb-2", id: "btn" %>
    <% end %>
  </div>

  <div class="spot-new-map"> 
    <%= render 'layouts/maps' %>
  </div>

</div>

<script>
let map
let url

const display = document.getElementById('display')
const display2 = document.getElementById('display2')
const btn = document.getElementById("btn")
    //btn.setAttribute("disabled", true);


function initMap() {
    geocoder = new google.maps.Geocoder();

    map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 35.71065, lng: 139.8106170933 },
        zoom: 12,
        disableDefaultUI: true,
        zoomControl: true,

    })


    map.addListener('click', function(e) {

        display2.style.color = "royalblue";
        display2.innerHTML = "このスポットでメモリーを作成";

        document.getElementById('spot_address').value = e.latLng.lat() + ',' + e.latLng.lng();

        //btn.setAttribute("disabled", false);

        var marker = new google.maps.Marker({
            position: e.latLng,
            map: map,
            icon: {
                url: "https://maps.google.com/mapfiles/ms/micons/blue-dot.png",
                scaledSize: new google.maps.Size(45, 40)
            },
            animation: google.maps.Animation.DROP
        })

        var infoWindow = new google.maps.InfoWindow({
            position: e.latLng,
            content: "この場所でメモリーを作成する場合は<br>左の [ここで作成] ボタンを押してください",
            title: e.latLng.toString(),
            disableAutoPan: false,
            animation: google.maps.Animation.DROP
        })
        infoWindow.open(map, marker);

        map.addListener('click', function(m) {
            marker.setMap(null);
            display2.innerHTML = "このスポットでメモリーを作成";
            display2.style.color = "royalblue";
            //btn.setAttribute("disabled", false);
        })

    });

}
</script>