<h2>メモリー作成</h2>
<div id="display" class="h3">メモリーを作成する場所を指定してください</div>
<h4 id="display2"　class="animation">　</h4>
<div id='map' class="embed-responsive"></div>

<% unless @spot.errors.full_messages.nil? %>
    <% @spot.errors.full_messages.each do |msg| %>
      <div class="alert-danger">  * <%= msg %> <br> </div>
    <% end %>
  <% end %>

<%= form_with(model: @spot, local: true) do |f| %>
  <div class="form-group row">
  <%= f.label :address, class: "col-sm-1" %>
  <%= f.text_field :address, class: "form col-sm-2", placeholder: "自動入力されます", readonly: true %>
  </div>
  <div class="form-group row">
  <%= f.label :name, class: "col-sm-1" %>
  <%= f.text_field :name, class: "form col-sm-2", placeholder: "(例) 行きつけのカフェ 等" %>
  </div>
  <%= f.submit "ここで作成", class: "btn btn-primary col-sm-3 mb-2", id: "btn" %>
<% end %>

<%= render 'layouts/maps' %>

