<div class="show-spot-info">
  <h2><%= @spot.name %></h2>
  <h4>作成日 <%= @spot.get_created_at %></h4>
  <% if @current_user.id == @spot.user_id %>
    <h5 class="spot-private private-<%= @spot.private.to_s %>"><%= @spot.get_private %></h5>
    <%= link_to "", edit_spot_path, class: "far fa-edit spot-show-edit-link gray" %>
    <%= link_to "", spot_path, method: :delete, class: "fas fa-trash-alt spot-show-delete-link gray", data: { confirm: @msg } %>
  <% end %>
</div>

<div class="left-content">
  <div class="spot-memories">
    <% if @memories.length > 0 %>
      <% @memories.each do |m| %>
        <a href="/memories/<%= m.id %>" class="h4">
          <div class="spot-memory">
            <h3><%= m.title %></h3>
            <h5><%= m.get_created_at %></h5>
          </div>
        </a>  
      <% end %>
    <% else %>
      <h4>公開されているメモリーはありません。</h4>
    <% end %>
  </div>
  <% if @current_user.id == @spot.user_id %>
    <%= link_to "このスポットで新たにメモリーを作成", new_memory_path %>
  <% end %>
</div>

<div class="right-content">
  <%= render 'layouts/maps' %>
</div>

<style>
#map {
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 0;
}
</style>

<script>
let map
let url

const display = document.getElementById('display')
const display2 = document.getElementById('display2')
const btn = document.getElementById("btn")
const memo_length = gon.memo_length
const memo_latlng = gon.memo_latlng
const spot_name = gon.spot_name

    //btn.setAttribute("disabled", true);


function initMap() {
    geocoder = new google.maps.Geocoder();

    map = new google.maps.Map(document.getElementById('map'), {
        center: memo_latlng,
        zoom: 12,
        disableDefaultUI: true,
        zoomControl: true,
    })

    marker = new google.maps.Marker({
            position: memo_latlng,
            map: map,
            icon: {
                url: "https://maps.google.com/mapfiles/ms/micons/blue-dot.png",
                scaledSize: new google.maps.Size(45, 40)
            },  
        })


    map.addListener('click', function(e) {

        var infoWindow = new google.maps.InfoWindow({
            position: e.latLng,
            content: spot_name,
            title: e.latLng.toString(),
            disableAutoPan: false,
            animation: google.maps.Animation.DROP
        })
        infoWindow.open(map, marker);

    

    });

}
</script>