<%= form_with(model: @spot, local: true) do |f| %>
  <%= render 'layouts/map' %>
  <div class="mapresult">
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    </div>
    <%= f.submit "保存", class: "btn btn-primary" %>
    <span class="image">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
    </span>
  </div>
<% end %>