<div id="user-show-page">  
  <div class="user-info">  
    <img class="user-image" src="<%= "/user_image/#{@user.image_name}.jpg" %>">
    <h3 class="user-name">
      <%= @user.name %>
    </h3>
    <p class="user-introduction">
      <%= simple_format(@user.introduction) %>
    </p>
    <% if @current_user == @user %>
      <%= link_to "[編集]", edit_user_path %>
    <% end %>
  </div>

  <div class="user-memories">
    <% @user.memories.each do |memory| %>
      <div class="user-memory">
        <a class="black h4" href="/memories/<%= memory.id %>"><%= memory.title %></a>
        <p><%= memory.content %></p>
        <p>＠<%= memory.get_spot_name %></p>
        <p><%= memory.created_at.strftime(@time_format) %></p>
      </div>
    <% end %>
  </div>
</div>