<div id="user-show-page">  
  <div class="user-info">  
    <img class="user-image" src="<%= "/user_image/#{@user.image_name}.jpg" %>">
    <h2 class="user-name">
      <%= @user.name %>
    </h2>
    <h4 class="user-introduction">
      <%= simple_format(@user.introduction) %>
    </h4>
    <% if @current_user == @user %>
      <%= link_to "[編集]", edit_user_path %>
      <br>
    <% end %>
    <%= link_to "メモリー一覧へ", memories_path %>
      <br>
    <%= link_to "スポット一覧へ", spots_path %>
  </div>
  <div class="user-ajax">
    <% if @show_flag == "memory" %>
      <%= render 'showmemories' %> 
    <% elsif @show_flag == "spot" %>
      <%= render 'showspots' %>
    <% else %>
      <%= render 'user_info' %>
    <% end %>
  </div>
</div>