<div class="memory-show">

  <div class="memory-about">
    <h3 class="memory-title"><%= @memory.title %></h3>
    <a href="/spots/<%= @memory.spot_id %>"><h4>@<%= @memory.get_spot_name %></h4></a>
    <br>
    <h4><%= simple_format(@memory.content) %></h4>
    <h4 class="memory-show-user-link">By <%= link_to @user.name, @user, class: "h4" %></h4>
    <% if @current_user.id == @memory.user_id %>
      <%= link_to "", edit_memory_path, class: "far fa-edit memory-show-edit-link gray" %>
      <%= link_to "", memory_path, method: :delete, class: "fas fa-trash-alt memory-show-delete-link gray", data: { confirm: @msg } %>
      <h5 class="memory-private private-<%= @memory.private.to_s %>"><%= @memory.get_private %></h5>
    <% end %>
    <div class="memory-time">
      <p><%= @memory.get_created_at %></p>
    </div>
  </div>

</div>
<%= link_to "作成したメモリー一覧へ", memories_url, class: "h4 blue memo-index-link" %>